* {
    box-sizing: border-box; 
    color: black;
    font-family: 'Roboto Slab', serif;
}
body {  
    background-color: #ffcc99; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
    border-radius: 10px;
    background-color: #ffff;
    min-width: 400px;
    min-height: 248px; 
}

 .value-label {
    padding-left: 5px;
 }

 .value-button {
     
 }

 .hidden {
     display: none;
 }