html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    
} 
body {   
    color: black;
    font-family: 'Roboto Slab', serif; 
    background-color: #ffcc99; 
    background-image: url("./img/background.jpg"); 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 8px 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
    border-radius: 10px;
    background-color: #ffff; 
}

.txtover {
    position: relative;
    margin: 0;
} 

.txtover figcaption {
    position: absolute;

    
}

.meme-font {
    font-family: impact;
    font-size: 1rem;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000; 
    transition: all 500ms; 
}

.magnitude-option {
    user-select: none;
}

.generator-option {
    user-select: none;
}

.magnitude-link {
    user-select: none;  
}

.magnitude-link:hover {
    position: relative;
    bottom: 1px;
    left: 1px;
}
.magnitude-link:active {
    position: relative;
    bottom: 2px;
    left: 2px;  
    
}



.caption-1 {
    top: 0;
    left: 10%;
}

.caption-2 {
    top: 44%;
    left: 5%;
}

.caption-3 {
    top: 44%;
    left: 60%;
}

.caption-4 {
    top: 94%;
    left: 18%;
}

.caption-5 {
    top: 94%;
    left: 72%;
}


.hero {
    background-color: #6500a2;
    text-align: center;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.hero img {
    max-width: 100%;
    max-height: 464px;
}

.egg-actions {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: flex-start;  
    padding: 10px;

}

.magnitude { 
    /* padding: 6px 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    width: 100%;
}

.magnitude-add {
    margin-right: 5px; 
}



button {
    user-select: none;
}
 
  
.hidden {
    visibility: hidden;
}